[[inputs.snmp]]
    startup_error_behavior = "retry"
    interval = "{{ interval }}s"
    {% if version == 2 %}
    agents = ["udp://{{ ip }}:{{ port }}"]
    version = 2
    community = "{{ community }}"
    timeout = "{{ timeout }}s"
    {% elif version == 3 %}
    agents = ["udp://{{ ip }}:{{ port }}"]
    version = 3
    timeout = "{{ timeout }}s"
    sec_name = "{{ sec_name }}"
    sec_level = "{{ sec_level }}"
    auth_protocol = "{{ auth_protocol }}"
    auth_password = "${AUTH_PASSWORD__{{ config_id }}}"
    priv_protocol = "{{ priv_protocol }}"
    priv_password = "${PRIV_PASSWORD__{{ config_id }}}"
    {% else %}
    {% endif %}
    [inputs.snmp.tags]
        instance_id = "{{ instance_id }}"
        instance_type = "{{ instance_type }}"
        collect_type = "snmp_lenovocnos"
        config_type = "lenovocnos"
        brand = "lenovocnos"
    [[inputs.snmp.field]]
        oid = "1.3.6.1.2.1.1.3.0"
        name = "uptime"
    [[inputs.snmp.field]]
        oid = "1.3.6.1.2.1.1.5.0"
        name = "source"
        is_tag = true
    [[inputs.snmp.table]]
        name = "interface"
        inherit_tags = ["source"]
        index_as_tag = true
    [[inputs.snmp.table.field]]
        oid = "1.3.6.1.2.1.2.2.1.1"
        name = "ifIndex"
        is_tag = true
    [[inputs.snmp.table.field]]
        oid = "1.3.6.1.2.1.2.2.1.2"
        name = "ifDescr"
        is_tag = true
    [[inputs.snmp.table.field]]
        oid = "1.3.6.1.2.1.31.1.1.1.6"
        name = "ifHCInOctets"
    [[inputs.snmp.table.field]]
        oid = "1.3.6.1.2.1.31.1.1.1.10"
        name = "ifHCOutOctets"
        [[inputs.snmp.table]]
        name = "device_cpu"
        inherit_tags = ["source"]
    [[inputs.snmp.table.field]]
        oid = "1.3.6.1.2.1.25.3.3.1.2"
        name = "usage"
        [[inputs.snmp.table]]
        name = "device_temperature"
        inherit_tags = ["source"]
    [[inputs.snmp.table.field]]
        oid = "1.3.6.1.4.1.19046.2.3.11.1.3.1.6"
        name = "celsius"
        [[inputs.snmp.table]]
        name = "device_fan"
        inherit_tags = ["source"]
        index_as_tag = true
    [[inputs.snmp.table.field]]
        oid = "1.3.6.1.4.1.19046.2.3.11.1.2.1.5"
        name = "state"
    [[inputs.snmp.table.field]]
        oid = "1.3.6.1.4.1.19046.2.3.11.1.2.1.8"
        name = "speed"
    [[inputs.snmp.table.field]]
        oid = "1.3.6.1.4.1.19046.2.3.11.1.2.1.9"
        name = "speed_percent"
        [[inputs.snmp.table]]
        name = "device_psu"
        inherit_tags = ["source"]
    [[inputs.snmp.table.field]]
        oid = "1.3.6.1.4.1.19046.2.3.11.1.1.1.5"
        name = "state"
# ---- Lenovo CNOS (PEN 19046): CPU=hrProcessorLoad; temperature=lenovoEnvMibTempSensorTemperature; fan=lenovoEnvMibFanState/FanSpeedRPM/FanSpeedPercent; PSU=lenovoEnvMibPowerSupplyState. Memory N/A. ----
# ---- Fan state: ok(0)/absent(1)->1, fault(2)->2; undefined dropped. RPM 0..100000; percent 0..100. PSU on(1)->1, other defined->2. ----
[[processors.enum]]
    namepass = ["device_psu"]
    [[processors.enum.mapping]]
        field = "state"
        default = 2
        [processors.enum.mapping.value_mappings]
            "1" = 1
[[processors.starlark]]
    namepass = ["device_fan"]
    source = '''
def apply(metric):
    f = metric.fields
    state = f.get("state")
    if state != None:
        s = int(state)
        if s == 0 or s == 1:
            f["state"] = 1
        elif s == 2:
            f["state"] = 2
        else:
            f.pop("state")
    speed = f.get("speed")
    if speed != None:
        v = int(speed)
        if v < 0 or v > 100000:
            f.pop("speed")
        else:
            f["speed"] = v
    percent = f.get("speed_percent")
    if percent != None:
        p = int(percent)
        if p < 0 or p > 100:
            f.pop("speed_percent")
        else:
            f["speed_percent"] = p
    if len(f.keys()) == 0:
        return None
    return metric
'''
    [processors.starlark.tagpass]
        brand = ["lenovocnos"]
